<mat-card>
  <mat-card-header>
    <mat-card-title>NbMembers</mat-card-title>
    <mat-card-subtitle>{{NbMembers}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>NbEvents</mat-card-title>
    <mat-card-subtitle>{{NbEvents}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>NbTools</mat-card-title>
    <mat-card-subtitle>{{NbTools}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>NbArticles</mat-card-title>
    <mat-card-subtitle>{{NbArticles}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
