<form action="">
        <p><mat-form-field appearance="fill">
                        <input matInput placeholder="Placeholder">
                </mat-form-field></p>

        <p><mat-form-field appearance="fill">
                        <input matInput placeholder="Placeholder">
                </mat-form-field></p>
        <p><mat-form-field appearance="fill">
                        <input matInput placeholder="Placeholder">
                </mat-form-field></p>
        <p><mat-form-field appearance="fill">
                        <input matInput placeholder="Placeholder">
                </mat-form-field></p>

</form>